body {
	background-color: #e1e1e1;
}
.container {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	width: 90%;
}
.main {
	position: relative;
	border-radius: 5px;
	border: 1px solid #80BD01;
	width: 73%;
	background-color: #fff;
}