<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>注册/登录</title>
        <link rel="stylesheet" href="/static/css/login.css">
		<script src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <section id=main>
			<header>
				<div class="img-title"></div>
			</header>
            <div class="login-menu">
                <span class="login-menu-item menu-active">注册</span>
                <span class="login-menu-item">登录</span>
            </div>
            <form id=form-register action="/user/register" method="post" enctype="multipart/form-data">
                <div class="user">
                    <label for="register-user">
                        账号<span class="star">*</span>
                        <input id=register-user type="text" name="username" value="" placeholder="请输入用户名" required>
                    </label>
                </div>
                <div class="pwd">
                    <label for="register-pwd">
                        密码<span class="star">*</span>
                        <input id=register-pwd type="text" name="password" value="" placeholder="请输入密码" required>
                    </label>
                </div>
                <div class="headimg">
                    <label for="headimg">
                        头像
                        <input type="file" name="headimg" placeholder="头像">
                    </label>
                </div>
                <div class="findpwd">
                    <a href="">忘记密码?</a>
                </div>
                <button type="submit">注册</button>
            </form>
            <form id=form-login class="hide" action="/user/login" method="post">
                <div class="user">
                    <label for="login-user">
                        <input id=login-user type="text" name="username" value="" placeholder="请输入用户名" required>
                    </label>
                </div>
                <div class="pwd">
                    <label for="login-pwd">
                        <input id=login-pwd type="text" name="password" value="" placeholder="请输入密码" required>
                    </label>
                </div>
                <button type="submit">登录</button>
            </form>
        </section>
        <footer>
        </footer>
        <script src="/static/js/login.js"></script>
    </body>
</html>
